Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a1 = 'Basic String Ex'
l1 = [4,5,'Ram',56]
f1 = 0.52
t1 = ('ram')

In [2]:
x1 = [a1,l1,f1,t1]

for i in x1:
    print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'str'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1

In [3]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [4]:
var  = [var1,var2,var3,var4]

for i in var:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
a = 10
b= 2

In [6]:
c = a/b
d = a%b
e = a//b
f = a**b

In [7]:
print([c,d,e,f])

[5.0, 0, 5, 100]

or

In [8]:
g = 10/2
h = 25%4
i = 85//6
j = 3**6

In [9]:
print([g,h,i,j])

[5.0, 1, 14, 729]

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
my_list = [2, "Ram", 5.154, True, [1, 2, 3], {'a1': 1, 'b1': 2}, None, (11, 22)]

for item in my_list:
    data_type = type(item).__name__
    print(f"Element: {item}, Data Type: {data_type}")

Element: 2, Data Type: int
Element: Ram, Data Type: str
Element: 5.154, Data Type: float
Element: True, Data Type: bool
Element: [1, 2, 3], Data Type: list
Element: {'a1': 1, 'b1': 2}, Data Type: dict
Element: None, Data Type: NoneType
Element: (11, 22), Data Type: tuple

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [18]:
A = int(input("Enter the value of A: "))
b = int(input("Enter the value of B: "))

count = 0
while a >= b:
    a = a - b  
    count += 1 

if a == 0:
    print(f"{b} is divisible by {b} and can be divided {count} times.")
else:
    print(f"{a} is not divisible by {b}.")

Enter the value of A:  40
Enter the value of B:  10

40 is divisible by 10 and can be divided 0 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
int_list = [12, 7, 9, 21, 45, 8, 36, 17, 27, 30,5, 16, 33, 22, 18, 42, 11, 20, 39, 4,13, 15, 24, 31, 6]

for i in int_list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
9 is divisible by 3.
21 is divisible by 3.
45 is divisible by 3.
8 is not divisible by 3.
36 is divisible by 3.
17 is not divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
5 is not divisible by 3.
16 is not divisible by 3.
33 is divisible by 3.
22 is not divisible by 3.
18 is divisible by 3.
42 is divisible by 3.
11 is not divisible by 3.
20 is not divisible by 3.
39 is divisible by 3.
4 is not divisible by 3.
13 is not divisible by 3.
15 is divisible by 3.
24 is divisible by 3.
31 is not divisible by 3.
6 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans: Mutable data types are objects that can be modified after creation ex lists and dictionaries. Immutable data types, on the other hand, cannot be changed once they are created ex include integers, floats, strings, and tuples

In [13]:
mutable_list = [1, 2, 3]
print("Original list:", mutable_list)

mutable_list[0] = 10  
mutable_list.append(4) 
mutable_list.remove(2)

print("Modified list:", mutable_list)

Original list: [1, 2, 3]
Modified list: [10, 3, 4]

In [14]:
immutable_string = "Hello"
print("Original string:", immutable_string)

new_string = immutable_string + " World"

print("Modified string:", new_string)

Original string: Hello
Modified string: Hello World